body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 767px) {
    #productGrid{
        grid-template-columns: repeat(3, 30%) !important;
        justify-content: center !important;
    }
}
@media screen and (max-width: 600px) {
    .imgs{
        display: none;
    }
    .Con1Text{
        position: relative !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 500px) {
    #productGrid{
        grid-template-columns: repeat(2, 35%) !important;
        justify-content: center !important;
        column-gap: 50px
    }
}

#productGrid{
    display: grid;
    grid-template-columns: repeat(4, 16.66%);
    position: relative;
    justify-content: center;
    gap: 25px;
}
#Body{
    width: 100vw;
    height: 100%;
    opacity: 0; 
}
#PodBody{
    position: relative;
    top: 100px;
}
.product-card{
    display: flex;
    flex-direction: column;
} 
.product-image{
    width: 100%;
    background-color: #ffd0d9;
    border-radius: 3px
}
.imgs{
    width: 100vw;
    max-width: 2000px;
    height: auto;
    position: relative;
    z-index: 10;
}
.Contener1{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}
.Con1Text{
    position: absolute;
    width: 50%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Con1GlText{
    font-size: 1.5rem;
}
.Con1DivVtText{
    max-width: 350px;
}
.Con2Icon{
    width: 25px;
    height: 25px;
    position: relative;
    top: 10px;
}
.BthInfo{
    position: relative;
    left: 5px;
    transition: color 0.3s ease-in-out;
}
.DivInfo{
    display: flex;
    flex-direction: row;
}
.DivInfo:hover .BthInfo{
    color: #ff879d;
}
#TablMenu{
    width: 100vw;
    height: 50px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(237, 208, 208) solid;
}
